:root {
    --body-bg: #f8f9fa;
    --body-clr: #343a40;

    --container-bg-primary: #fff;
    --container-bg-secondary: unset;
    --border: 1px solid rgba(0, 0, 0, 0.1);
    --shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);

    --primary: darkviolet;
    --light-primary: rgb(111, 30, 186);
    --secondary: #ffc107;
    --blue: #114faa;

}

.nocolor {
    color: var(--body-clr)
}

.text-violet {
    color: var(--primary);
}

.bg-violet {
    background: var(--primary);
}

.text-blue {
    color: var(--blue);
}

.bg-blue {
    background: var(--blue);
}

.btn-violet {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--light-primary);
    --bs-btn-hover-border-color: var(--light-primary);
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--light-primary);
    --bs-btn-active-border-color: var(--light-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primary);
    --bs-btn-disabled-border-color: var(--primary);
}
